<style type="text/css">
	
.masthead {
  text-align: center;
  color: white;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  .masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  .masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}


</style>
<div class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Welcome To My WerbSite!</div>
          <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="users/new">LOGIN</a>
        </div>
      </div>
 </div>

    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="javascript/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="javascript/jqBootstrapValidation.js"></script>
    <script src="javascript/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="javascript/agency.min.js"></script>


    <!-- Custom styles for this template -->
  <!--   <link href="stylesheets/agency.min.css" rel="stylesheet">

    <link href="stylesheets/agency.min.css" rel="stylesheet"> -->



